@import '@fontsource/atkinson-hyperlegible/400.css';
@import '@fontsource/atkinson-hyperlegible/700.css';
/* Write your global styles here, in PostCSS syntax */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-zinc-100 bg-zinc-900 font-atkinson;
	}
}
