@import '@fontsource/atkinson-hyperlegible/400.css';
@import '@fontsource/atkinson-hyperlegible/700.css';
@import '@fontsource-variable/jetbrains-mono';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
	--font-atkinson: 'Atkinson Hyperlegible', 'sans-serif';
	--font-jetbrains: 'JetBrains Mono Variable', 'monospace';
}

@layer base {
	html {
		color-scheme: dark;
	}
	body {
		@apply text-zinc-100 bg-zinc-900 font-atkinson;
	}
	*:focus-visible {
		@apply outline-none ring-3 ring-rose-600;
	}
	code {
		@apply font-jetbrains;
	}
}
